<h1>Welcome to MySMS Messenger</h1>
<p>Created by Malik Maitland</p>
<p>MySMS Messenger is an intuitive messaging platform built with an Angular front-end and a Ruby back-end. It connects to Twilio through an API to enable seamless SMS communication. Whether you're logging in or signing up, this service is designed to provide a smooth and reliable messaging experience.</p>
<div class="button-container">
    <button class="login" onclick="window.location.href='/login'">Login</button>
    <button class="signup" onclick="window.location.href='/signup'">Sign Up</button>
</div>
