<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username Input -->
      <label for="username" class = "username">Username</label>
      <input type="text" id="username" formControlName="username" class="username" >
      <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-username" >
        Username is required.
      </small>
  
      <!-- Password Input -->
      <label for="password" class = "password">Password</label>
      <input type="password" id="password" formControlName="password" class="password">
      <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-password" >
        Password is required.
      </small>
  
      <!-- Buttons -->
      <div class="buttons">
        <a href="#" class="clear-btn" (click)="clearForm($event)">Clear</a>
        <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">Submit</button>
    </div>
    </form>

  