form {
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    align-self: flex-start;
    position: relative;
}

/* Input Fields */
input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 20px;
    display: block;
    position: relative;
    margin-top: -90px;
    
}




label.username {
    margin-top: 30px;
}
label.password {
    margin-top: -40px;
}






small.error-username, small.error-password {
    color: red;
    font-size: 12px;
    height: 14px; /* Keeps space reserved */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* Invisible by default */
    transition: opacity 0.3s ease-in-out;
}

/* Adjust specific error messages */
small.error-username {
    margin-top: 110px;

}

small.error-password {
    margin-top: 245px;
}

/* Show error message when input is invalid */
.ng-invalid.ng-touched ~ small {
    opacity: 1;
}






/* Buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top : -50px;
    width: 100%;
    margin-top: 40px;
}

.clear-btn {
    text-decoration: underline;
    color: black;
    font-size: 14px;
    margin-right: auto;
    cursor: pointer;
}

.submit-btn {
    background: black;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.submit-btn:hover {
    opacity: 0.8;
}

button:hover {
    background-color: #333;
}
