<!-- Header section containing the title and the log-out functionality -->
<div class="header">
  <!-- The title of the application -->
  MY SMS MESSENGER
  
  <!-- The ng-container renders the log-out link if the user is logged in. -->
  <!-- isLoggedIn() is a function that returns a boolean indicating whether the user is logged in or not. -->
  <ng-container *ngIf="isLoggedIn()">
    <!-- The logout function is invoked when the link is clicked, triggering the log-out process -->
    <a (click)="logout()" class="logout-link">Log out</a>
  </ng-container>
</div>

<!-- Main container for content inside the application -->
<div id="container">
  
  <!-- Conditional rendering based on the current page title ('New Message') and screen size (isWideEnough) -->
  <ng-container *ngIf="pageTitle === 'New Message' && !isWideEnough">
    <!-- If the page title is 'New Message' and the screen is not wide enough, show a link to the message history -->
    <!-- This link navigates to the 'messageHistory' page using routerLink -->
    <a [routerLink]="['/messageHistory']" class="message-history-link">
      Message History
    </a>
  </ng-container>

  <!-- Main content area where the display component is used to render dynamic content based on the page title -->
  <!-- The title of the page is passed as an input to the 'app-display' component -->
  <app-display [title]="pageTitle">
    <!-- Router outlet, where the routed component will be rendered based on the active route -->
    <router-outlet></router-outlet>
  </app-display>

  <!-- Another conditional rendering based on the same 'New Message' title but when the screen is wide enough -->
  <ng-container *ngIf="pageTitle === 'New Message' && isWideEnough">
    <!-- This section shows a side-by-side layout when the screen is wide enough -->
    <div class="side-by-side-container">
      <!-- The display component shows the message history with a dynamic title that includes the number of messages in history -->
      <!-- The async pipe is used to get the latest value from the 'historyLength' BehaviorSubject -->
      <app-display [title]="'Message History (' + (historyLength | async) + ')'">
        <!-- The app-messages component is embedded here to show the list of messages -->
        <app-messages></app-messages>
      </app-display>
    </div>
  </ng-container>
</div>
